The table "messages data madeup.xlsx" contains send/receive message data for the application's users. Using Python, calculate what fraction of senders sent messages to at least 9 unique people on March 1, 2019.

In [173]:
import pandas as pd
data=pd.read_excel("messages data madeup.xlsx") # import excel file using pd.read_excel method

In [174]:
march1data=data[data.date=='2019-03-01'] # extract information relevent to date 2019/03/01. 
#We also can use loc method >> march1data=data.loc[data['date']=='2019-03-01']
march1data

         date  sender ID  Receiver ID
0  2019-03-01          1            2
1  2019-03-01          2            1
2  2019-03-01          2            2
3  2019-03-01          3            8
4  2019-03-01          2            1
5  2019-03-01          3           13
6  2019-03-01          2            3
7  2019-03-01          2            2
8  2019-03-01          3           20
9  2019-03-01          3           19
10 2019-03-01          2            9
11 2019-03-01          2            3
12 2019-03-01          3           12
13 2019-03-01          2           10
14 2019-03-01          2            4
15 2019-03-01          2            1
16 2019-03-01          2           11
17 2019-03-01          3           11
18 2019-03-01          3           10
19 2019-03-01          2            5
20 2019-03-01          4            3
21 2019-03-01          3            5
22 2019-03-01          4            4
23 2019-03-01          2            6
24 2019-03-01          5            3
25 2019-03-01          6            9
26 2019-03-01          2            7
27 2019-03-01          4            2
28 2019-03-01          3            2
29 2019-03-01          5            2
30 2019-03-01          2            7
31 2019-03-01          5            5
32 2019-03-01          3            1
33 2019-03-01          5            7
34 2019-03-01          6            1
35 2019-03-01          2            8
36 2019-03-01          6            3
37 2019-03-01          6            4
38 2019-03-01          2            3

In [175]:
march1data.dtypes

date           datetime64[ns]
sender ID               int64
Receiver ID             int64
dtype: object

In [176]:
# group data by sender ID and Reciever ID. This will result a Groupby object
d=march1data.groupby(['sender ID','Receiver ID']) 
d

In [177]:
# Let's check d
d.size()

sender ID  Receiver ID
1          2              1
2          1              3
           2              2
           3              3
           4              1
           5              1
           6              1
           7              2
           8              1
           9              1
           10             1
           11             1
3          1              1
           2              1
           5              1
           8              1
           10             1
           11             1
           12             1
           13             1
           19             1
           20             1
4          2              1
           3              1
           4              1
5          2              1
           3              1
           5              1
           7              1
6          1              1
           3              1
           4              1
           9              1
dtype: int64

If we groupby march1data by Sender ID and get the unique values of Reciever ID to a data frame, we can extract the information we want.

In [182]:
# groupby march1data by Sender ID and get the unique values of Receiver ID to a data frame
Grouped=march1data.groupby('sender ID')['Receiver ID'].nunique().to_frame()
Grouped

           Receiver ID
sender ID
1                    1
2                   11
3                   10
4                    3
5                    4
6                    4

In [189]:
# Filter out senders who sent messages to more than 9 unique recievers 
filter1=Grouped.loc[Grouped['Receiver ID']>=9]
filter1

           Receiver ID
sender ID
2                   11
3                   10